In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
wec = pd.read_csv(r'..\\datasets\\World_Energy_Consumption.csv')

### Descartamos las filas correspondientes a regiones y continentes

In [9]:
regiones = ["World", "Europe", "Africa", "Europe (other)", "Eastern Africa", "Asia Pacific", "CIS", "Central America", "Other Caribbean",
'Other Middle East', 'Other Northern Africa', 'Other South America', 'Other Southern Africa', 'Western Africa', 'Other CIS',
 'South & Central America', 'South Africa', 'Other Northern Africa', 'Other Asia & Pacific', 'OPEC', 'North America',
  'Middle Africa', 'Middle East']
wec = wec.loc[~wec['country'].isin(regiones)]

### Filtramos por "year" para quedarnos con las últimas dos décadas

In [10]:
wec = wec[(wec['year'] > 1999)]

### Cambiamos las unidades de la columba "gdp" para que esté en miles de millones de dólares:

In [11]:
wec["gdp"] = wec["gdp"]/10**9

,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
100,AFG,Afghanistan,2000,0.000,0.000,NaN,NaN,NaN,NaN,-12.633,...,0.000,NaN,16.508835,0.0,NaN,NaN,NaN,NaN,0.0,NaN
101,AFG,Afghanistan,2001,2498.993,0.145,NaN,NaN,NaN,NaN,-22.419,...,0.000,NaN,15.574844,0.0,NaN,NaN,NaN,NaN,0.0,NaN
102,AFG,Afghanistan,2002,-19.231,-0.029,NaN,NaN,NaN,NaN,-4.909,...,0.000,NaN,25.676800,0.0,NaN,NaN,NaN,NaN,0.0,NaN
103,AFG,Afghanistan,2003,66.667,0.081,NaN,NaN,NaN,NaN,18.293,...,0.000,NaN,27.805561,0.0,NaN,NaN,NaN,NaN,0.0,NaN
104,AFG,Afghanistan,2004,-2.857,-0.006,NaN,NaN,NaN,NaN,-7.385,...,0.000,NaN,28.447687,0.0,NaN,NaN,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17427,ZWE,Zimbabwe,2015,-25.013,-10.847,NaN,NaN,NaN,NaN,-0.789,...,0.579,NaN,25.030570,0.0,NaN,NaN,NaN,NaN,0.0,NaN
17428,ZWE,Zimbabwe,2016,-37.694,-12.257,NaN,NaN,NaN,NaN,-14.633,...,0.641,NaN,25.151762,0.0,NaN,NaN,NaN,NaN,0.0,NaN
17429,ZWE,Zimbabwe,2017,8.375,1.697,NaN,NaN,NaN,NaN,NaN,...,0.773,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
17430,ZWE,Zimbabwe,2018,22.555,4.952,NaN,NaN,NaN,NaN,NaN,...,0.970,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
17431,ZWE,Zimbabwe,2019,-35.015,-9.422,NaN,NaN,NaN,NaN,NaN,...,0.956,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN

### Armamos datasets para los modelos no supervisados:

In [ ]:
columnas_ns1 = ["country", "gdp", "fossil_share_energy", "renewables_share_energy", "nuclear_share_energy", "population"]
df_ns1 = wec[columnas_ns1]
df_ns1

In [ ]:
columnas_ns2 = ["country", "gdp", "low_carbon_share_energy", 
"population", "energy_per_capita"]
df_ns2 = wec[columnas_ns2]
df_ns2

In [ ]:
columnas_ns3 = ["country", "gdp", "fossil_share_energy", "renewables_share_energy", "nuclear_share_energy", "energy_per_capita"]
df_ns3 = wec[columnas_ns3]
df_ns3

### Guardamos a csv

In [ ]:
df_ns1.to_csv("../datasets/df_ns1.csv")

In [ ]:
df_ns2.to_csv("../datasets/df_ns2.csv")

In [ ]:
df_ns3.to_csv("../datasets/df_ns3.csv")

### Armamos datasets para modelos supervisados: